{% extends 'email/base.html' %}

{% block title %}Password Reset Request{% endblock title %}

{% block main_content %}
<p class="card-text">
    To reset your password, please click the link below:
</p>
<p class="card-text">
    <a href="{{ reset_link }}" class="btn btn-primary">Reset Your Password</a>
</p>
<p class="card-text">
    If the button above doesn't work, copy and paste the following link into your browser:
    <br>
    <a href="{{ reset_link }}">{{ reset_link }}</a>
</p>
{% endblock main_content %}
